SpatialLiveRef/SpatialLiveRef.xcodeproj/project.xcworkspace/xcuserdata/margaridaraposo.xcuserdatad/UserInterfaceState.xcuserstate
SpatialLiveRef/SpatialLiveRef.xcodeproj/xcuserdata/margaridaraposo.xcuserdatad/
.DS_Store
SpatialLiveRef/.DS_Store
SpatialLiveRef/SpatialLiveRef/.DS_Store
scripts/spatial-liveref-firebase-adminsdk-60cy8-515e58503f.json
