SpatialLiveRef/SpatialLiveRef.xcodeproj/xcuserdata/margaridaraposo.xcuserdatad/xcdebugger/
SpatialLiveRef/.DS_Store
.DS_Store
SpatialLiveRef/SpatialLiveRef.xcodeproj/project.pbxproj
SpatialLiveRef/SpatialLiveRef.xcodeproj/project.xcworkspace/xcuserdata/margaridaraposo.xcuserdatad/UserInterfaceState.xcuserstate
SpatialLiveRef/SpatialLiveRef/.DS_Store